@theme {
  /* 색상 추후 픽스 예정
  --color-primary-50: #f4f2ff;
  --color-primary-100: #e9e5ff;
  --color-primary-200: #b8aeff;
  --color-primary-300: #9b8fff;
  --color-primary-400: #7c6ff7;
  --color-primary-500: #6b5ef0;
  --color-primary-600: #594cd9;
  --color-primary-700: #463ab5;
  --color-primary-800: #322a85;
  --color-primary-900: #21185c;

  --color-gray-50: #ffffff;
  --color-gray-100: #ededf5;
  --color-gray-200: #d9ddec;
  --color-gray-300: #b2b7ca;
  --color-gray-400: #78819a;
  --color-gray-500: #5a637a;
  --color-gray-600: #3b4252;
  --color-gray-700: #282d3c;
  --color-gray-800: #1c1f29;
  --color-gray-900: #111111;

  --color-collecting: #5C6080;  작성중 
  --color-drafting: #7C6FF7;  검토중 
  --color-confirmed: #1DB757;  확정 
  --color-review-required: #F59E0B; 재검토 필요 */

  --radius-s: 10px;
  --radius-m: 14px;
  --radius-l: 18px;
  --radius-2xl: 24px;
}
